.outside-frame-container {
  min-height: 100vh;
}
.outside-frame-outside-frame {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.outside-frame-desktop1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 252, 252, 1);
}
.outside-frame-homebg1 {
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
}
.outside-frame-frame3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.outside-frame-text {
  top: 95px;
  left: 553px;
  color: rgba(92, 89, 89, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-body {
  top: 303px;
  left: 0px;
  position: absolute;
  border-color: transparent;
}
.outside-frame-text02 {
  top: 198px;
  left: 460px;
  color: rgba(87, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Hanuman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text03 {
  font-weight: 400;
}
.outside-frame-text04 {
  font-weight: 700;
}
.outside-frame-text05 {
  font-weight: 400;
}
.outside-frame-text06 {
  font-weight: 700;
}
.outside-frame-invesher-icon {
  top: 38px;
  left: 444px;
  width: 109px;
  height: 142px;
  position: absolute;
  border-color: transparent;
}
.outside-frame-frame4 {
  top: 360px;
  left: 924px;
  width: 484px;
  height: 524px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(239, 230, 230, 1);
}
.outside-frame-text08 {
  top: 75px;
  left: 105px;
  color: rgba(86, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text10 {
  top: 162px;
  left: 105px;
  color: rgba(86, 84, 84, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-loginbutton {
  top: 65px;
  left: 244px;
  width: 150px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.outside-frame-loginbutton1 {
  top: 152px;
  left: 244px;
  width: 150px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.outside-frame-text12 {
  top: 421px;
  left: 194px;
  color: rgba(73, 72, 72, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-loginbutton2 {
  top: 270px;
  left: 166px;
  width: 142px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  color: rgba(73, 71, 71, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-loginbutton3 {
  top: 375px;
  left: 170px;
  width: 148px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  color: rgba(73, 72, 72, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text14 {
  top: 285px;
  left: 179.72216796875px;
  color: rgba(73, 71, 71, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text16 {
  top: 330px;
  left: 150px;
  color: rgba(82, 78, 78, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Hanuman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-frame5 {
  top: 369px;
  left: 96px;
  width: 748px;
  height: 522px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.outside-frame-text18 {
  top: 52px;
  left: 36px;
  color: rgba(122, 106, 106, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text20 {
  top: 98px;
  left: 36px;
  color: rgba(122, 106, 106, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text22 {
  top: 184px;
  left: 36px;
  color: rgba(122, 106, 106, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.outside-frame-text24 {
  top: 144px;
  left: 36px;
  color: rgba(122, 106, 106, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
